@tailwind base;
@tailwind components;
@tailwind utilities;

.app-header {
    position: fixed;
    top: 0;
    width: 100%;
}

.app-footer, .app-header {
    background-color: #ebd834;
    height: 60px;
    border: 2px solid black;
}

.page-container {
    margin-top: 4em;
}

.app-button {
    background-color: white;
    width: 70px;
    border: 2px solid black;
}

body {
    background-color: #eaebd1;
}

.article-container {
    background-color: white;
    max-width: 1000px;
}

@media screen and (max-width: 480px) {
    .app-header {
        height: 90px;
        flex-direction: column;
    }

    #search-buttons-container {
        margin-top: 5px;
    }

    .default-header-height {
        height: 60px;
    }
}
