@tailwind base;
@tailwind components;
@tailwind utilities;

.app-header {
    background-color: green;
    height: 60px;
}

.app-footer {
    background-color: green;
    height: 60px;
}

/* Home Page */

/* .article-image-container {
    width: 30%;
} */

.article-image {
    max-width: 100%;
}

.article-container {
    cursor: pointer;
}