@tailwind base;
@tailwind components;
@tailwind utilities;

.app-header {
    background-color: green;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
}

.app-footer {
    background-color: green;
    height: 60px;
}

.page-container {
    margin-top: 4em;
}

.app-button {
    background-color: white;
}

body {
    background-color: lightgray;
}

.article-container {
    background-color: white;
    max-width: 1000px;
}

/* Home Page */

/* .article-image-container {
    width: 30%;
} */

.article-image {
    max-width: 100%;
}

.article-container {
    cursor: pointer;
}

/* Article Details Page */

#article-details-image {
    width: 50%;
}